@{
 
    Layout = "LayoutCustom";

}

<h1>Un omaggio a Paolo</h1>

<p>Questa <del>Fintissima</del> pizzeria è stata realizzata per 2 motivi principali: <br />

    1. Mancanza di idee <br />
    2. Mancanza di idee <br />

    Grazie per averci visitato, Date un'occhiata alle nostre Paolo-Pizze!



</p>

<style>
    body {
        color: white; 
        
         
       
    }
   
</style>