@{
    //  ViewData["Title"] = "Home Page";
    Layout = "LayoutCustom";

}


<h2 class="text-light">Le nostre Paolo-Pizze:</h2>

        <div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="~/img/Pizza_Margherita_stu_spivack.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                    <h5 class="card-title">Pizza Margherita</h5>
                            <p class="card-text">
                                La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio; è, assieme alla pizza marinara, la più popolare pizza italiana.

                                Rappresenta sicuramente il simbolo per antonomasia del patrimonio culturale e culinario italiano, diffusa per la sua fama in tutto il mondo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="~/img/1920px-Pizza_capricciosa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pizza Capricciosa</h5>
                            <p class="card-text">La pizza capricciosa è una pizza tipica della cucina italiana caratterizzata da un condimento di pomodoro, mozzarella, prosciutto cotto (o spesso anche crudo), funghi (di solito champignon), olive verdi e nere, e carciofini e spesso uova. Sebbene a volte abbia gli stessi ingredienti della pizza alle quattro stagioni, 
                                la capricciosa presenta condimenti tutti insieme sparsi e non divisi in quattro spicchi. Risulta inventata nell'omonimo ristorante di Roma nel 1937.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="~/img/Pizza_Quattro_Stagioni.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                    <h5 class="card-title">Pizza Quattro Stagioni</h5>
                            <p class="card-text">La pizza alle quattro stagioni è una varietà di pizza che viene preparata con diversi condimenti, ripartiti in quattro diverse sezioni, ognuna delle quali richiama una delle quattro stagioni dell'anno. Generalmente la pizza si compone di 4 ingredienti caratterizzanti della propria stagione: i funghi rappresentano l'autunno, il prosciutto e le olive corrispondono all'inverno, i carciofi figurano la primavera ed infine i pomodori e il basilico l'estate.
                                In alcune versioni, tale ultimo quarto è sostituito con del salamino piccante o con della salsiccia.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="~/img/pizza-con-cipolle-e-tonno-tropea.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                    <h5 class="card-title">Pizza Nostromo</h5>
                            <p class="card-text">La pizza tonno e cipolle è uno dei gusti più popolari nei menu delle pizzerie. Spesso snobbata perché considerata poco digeribile soprattutto a cena,
                                è in realtà molto più leggera di altre preparazioni, basta prepararla nel modo giusto..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<style>


</style>